server:
  enabled: true
  # only updates base url of resources on client side,
  # it's expected that a proxy server rewrites the request URL and gets rid of this prefix
  # https://github.com/argoproj/argo/issues/716#issuecomment-433213190
  baseHref: /argo/

  # Run the argo server in "secure" mode. Configure this value instead of
  # "--secure" in extraArgs. See the following documentation for more details
  # on secure mode:
  # https://argoproj.github.io/argo/tls/#encrypted
  secure: true

  ## Ingress configuration.
  ## ref: https://kubernetes.io/docs/user-guide/ingress/
  ##
  ingress:
    enabled: true

    ## Annotations to be added to the web ingress.
    ##
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS

    ## Hostnames.
    ## Must be provided if Ingress is enabled.
    ##
    hosts:
      - {{ fqdn }}

    ## Additional Paths for each host
    # backends:
    #   - serviceName: "ssl-redirect"
    #     servicePort: "use-annotation"

    paths:
      - path: /argo(/|$)(.*)

    ## TLS configuration.
    ## Secrets must be manually created in the namespace.
    ##
    tls:
      - secretName: argo-ui-tls
        hosts:
          - {{ fqdn }}

  extraArgs: 
	- --auth-mode=sso
	
  sso:
    ## SSO configuration when SSO is specified as a server auth mode.
    ## All the values are requied. SSO is activated by adding --auth-mode=sso
    ## to the server command line.
    #
    ## The root URL of the OIDC identity provider.
    issuer: issuer: https://login.microsoftonline.com/{{tenant-id}}/v2.0
    ## Name of a secret and a key in it to retrieve the app OIDC client ID from.
    clientId:
      name: argo-server-sso
      key: client-id
    ## Name of a secret and a key in it to retrieve the app OIDC client secret from.
    clientSecret:
      name: argo-server-sso
      key: client-secret
    ## The OIDC redirect URL. Should be in the form <argo-root-url>/oauth2/callback.
    redirectUrl: https://{{ fqdn }}/oauth2/callback

minio:
  # If set to true then chart installs minio and generate according artifactRepository section in workflow controller config map
  install: true
  defaultBucket:
    enabled: true
    name: argo-artifacts
